
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.font-open-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav .logo{
    margin: 16px 120px 0px 0px;
    
}
.menu-btn{
    background-color: #30b868;
    width: 164px;
    height: 44px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    gap: 10;
    font-size:  16px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 5px;
}
.menu-btn:hover {
    background-color: #77c798;  
}

nav{
    width:83%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding: 16px 131px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    font-size:16px;
    text-decoration: none;
    color: #000000;
}
#first-section .container{
    width: 83%;
    max-width: 1600px;
    min-height: 435px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png") no-repeat center / cover;
    /* background-repeat: no-repeat; */
    color: white; 
}

.container {
    padding: 108px 120px 172px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container img{
    vertical-align: middle;
}

.btn-access {
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px;
    height: 35px;
    width: 229px;
    background-color:  #ffffff;
    color: #30b868;
    margin-bottom: 20px;
    border-radius: 15px;
}
.btn-access:hover{
    background-color: #77c78f;  
}

.first-content-text h1 {
    font-size: 72px;
    margin: 0;
    font-weight: 700;
}

.highlight {
    color: #30b868;
}

.second-content {
    margin-top: 16px;
    max-width: 1360px;
    font-size: 18px;
    opacity: 0.9;
}

.third-content {
    margin: 32px 435px 0px 435px;
    display: flex;
    gap: 16px;
}

.primary {
    background-color: #30b868;
    color: white;
    font-size: 16px;
    height: 52px;
    width: 251px;
    padding: 12px 16px;
}

.outline {
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    height: 52px;
    width: 198px;
    font-size: 16px;
    padding: 16px 16px;
}
#about .about-container h2{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin:80px 0px 4px;

}
#about .about-container p{
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
}
#skills{
    padding-top: 44px;
}
#skills .skills-container{
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;

}
#skills .skills-container .skill-box{
    display: flex;
    margin: 0 120px;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px 36px;
    box-shadow: 0px 6px 50px 0px #00000027;
    max-width: 267px;
}
.skill-card img {
    max-width: 60px;
    margin: 0 auto 16px;
    display: block;
    background-color: #F95555;
    border-radius: 50%;
    padding: 12px;
}

.skill-card h4{
    font-size: 24px;
    margin: 0 auto 16px;
    text-align: center;
    color: #001913;
    margin-bottom: 16px;
}
.skill-card p{
    font-size:16px ;;
    color: #627382;
    line-height: 20px;
    text-align: center;
}

#solution .solution-container{
    width: 83%;
    max-width: 1600px;
    margin:120px auto 120px;
    display: flex;
    gap: 60px;
}
.solution-card{
    max-width: 600px;
    max-height: 600px;
}
.info-card{
    margin-top: 102px;
}
.info-card .text-p{
    font-size: 16px;
    line-height: 20px;
    color: #30b868;
}
.info-card h1{
    margin-top: 16px;
    font-size: 48px;
    color: #001931;
    font-weight: bold;
}
.info-card p{
    margin: 16px 455px 0px 0px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.high{
    margin-top: 40px;
}
.high h4{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
}
.high img{
    vertical-align: middle;

}

#access .access-section {
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
}

.access-box {
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px;
    margin: 120px 120px;
    padding: 80px;
}


.access-box h1 {
    font-size: 40px;
    color: #001931;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
    line-height:24px;
}
.free{
    font-size: 16px;
    color: #627382;
    line-height:24px;
}
.free .dot{
    text-align: center;
    font-weight: bold;
}

.access-btn {
    background-color: #30b868;
    color: #ffffff;
    height: 52px;
    width: 192px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
}

.access-btn img{
    vertical-align: middle;

}
.access-btn:hover {
    background-color: #356b4a;
}

.free {
    margin-top: 20px;
    font-size: 14px;
    color: #6b7280;
}

#footer .footer-container{
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;
}

/* .footer-container{
    background-color: #001931;
    color: #ffffff;
} */

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:120px 120px 80px;
    background-color: #001931;
    color: #ffffff;
}

.footer-left img{
    height: 60px;
    width: 139px;
}


.footer-right h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    padding-right: 107px;
}

.social-icons a{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    color: #FAFAFA;
    padding: 30px;
    background-color: #001931;
    color: #ffffff;
}